USE [master]
GO
/****** Object:  Database [ShoeShopDb]    Script Date: 23.12.2025 17:43:40 ******/
CREATE DATABASE [ShoeShopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoeShopDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ShoeShopDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoeShopDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ShoeShopDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoeShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Name] [nvarchar](50) NOT NULL,
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[FullName] [nvarchar](150) NOT NULL,
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Name] [nvarchar](100) NOT NULL,
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderId] [int] NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NULL,
	[CustomerId] [int] NOT NULL,
	[PickupCode] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Photo] [nvarchar](500) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Name] [nvarchar](100) NOT NULL,
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.12.2025 17:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Name], [CategoryId]) VALUES (N'Женская обувь', 1)
INSERT [dbo].[Categories] ([Name], [CategoryId]) VALUES (N'Мужская обувь', 2)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([FullName], [CustomerId]) VALUES (N'Степанов Михаил Артёмович', 1)
INSERT [dbo].[Customers] ([FullName], [CustomerId]) VALUES (N'Никифорова Весения Николаевна', 2)
INSERT [dbo].[Customers] ([FullName], [CustomerId]) VALUES (N'Сазонов Руслан Германович', 3)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Name], [ManufacturerId]) VALUES (N'Kari', 1)
INSERT [dbo].[Manufacturers] ([Name], [ManufacturerId]) VALUES (N'Marco Tozzi', 2)
INSERT [dbo].[Manufacturers] ([Name], [ManufacturerId]) VALUES (N'Рос', 3)
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
INSERT [dbo].[OrderItems] ([OrderId], [Article], [Quantity]) VALUES (1, N'F635R4', 2)
INSERT [dbo].[OrderItems] ([OrderId], [Article], [Quantity]) VALUES (1, N'А112Т4', 2)
INSERT [dbo].[OrderItems] ([OrderId], [Article], [Quantity]) VALUES (2, N'H782T5', 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderDate], [DeliveryDate], [CustomerId], [PickupCode], [Status], [OrderId]) VALUES (CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 901, N'Завершен', 1)
INSERT [dbo].[Orders] ([OrderDate], [DeliveryDate], [CustomerId], [PickupCode], [Status], [OrderId]) VALUES (CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 2, 902, N'Завершен', 2)
INSERT [dbo].[Orders] ([OrderDate], [DeliveryDate], [CustomerId], [PickupCode], [Status], [OrderId]) VALUES (CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 3, 903, N'Завершен', 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Products] ([Article], [Name], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Quantity], [Description], [Photo]) VALUES (N'B320R5', N'Туфли', N'шт.', CAST(4300.00 AS Decimal(10, 2)), 1, 4, 1, 2, 6, N'Туфли Rieker женские демисезонные размер 41 цвет коричневый', N'9.jpg')
INSERT [dbo].[Products] ([Article], [Name], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Quantity], [Description], [Photo]) VALUES (N'B431R5', N'Ботинки', N'шт.', CAST(2700.00 AS Decimal(10, 2)), 2, 4, 2, 2, 5, N'Мужские кожаные ботинки/мужские ботинки', NULL)
INSERT [dbo].[Products] ([Article], [Name], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Quantity], [Description], [Photo]) VALUES (N'C436G5', N'Ботинки', N'шт.', CAST(10200.00 AS Decimal(10, 2)), 1, 5, 1, 0, 0, N'Ботинки женские ARGO размер 40', NULL)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleName], [RoleId]) VALUES (N'Администратор', 1)
INSERT [dbo].[Roles] ([RoleName], [RoleId]) VALUES (N'Менеджер', 2)
INSERT [dbo].[Roles] ([RoleName], [RoleId]) VALUES (N'Клиент', 3)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Name], [SupplierId]) VALUES (N'Kari', 1)
INSERT [dbo].[Suppliers] ([Name], [SupplierId]) VALUES (N'Обувь для вас', 2)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [RoleId]) VALUES (1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [RoleId]) VALUES (2, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [RoleId]) VALUES (3, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ', 1)
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([Article])
REFERENCES [dbo].[Products] ([Article])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Manufacturers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
