USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 23.12.2025 17:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Name] [nvarchar](100) NOT NULL,
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Name], [ManufacturerId]) VALUES (N'Kari', 1)
INSERT [dbo].[Manufacturers] ([Name], [ManufacturerId]) VALUES (N'Marco Tozzi', 2)
INSERT [dbo].[Manufacturers] ([Name], [ManufacturerId]) VALUES (N'Рос', 3)
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
