USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23.12.2025 17:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[FullName] [nvarchar](150) NOT NULL,
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([FullName], [CustomerId]) VALUES (N'Степанов Михаил Артёмович', 1)
INSERT [dbo].[Customers] ([FullName], [CustomerId]) VALUES (N'Никифорова Весения Николаевна', 2)
INSERT [dbo].[Customers] ([FullName], [CustomerId]) VALUES (N'Сазонов Руслан Германович', 3)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
