USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23.12.2025 17:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleName], [RoleId]) VALUES (N'Администратор', 1)
INSERT [dbo].[Roles] ([RoleName], [RoleId]) VALUES (N'Менеджер', 2)
INSERT [dbo].[Roles] ([RoleName], [RoleId]) VALUES (N'Клиент', 3)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
