USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 23.12.2025 17:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Name] [nvarchar](50) NOT NULL,
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Name], [CategoryId]) VALUES (N'Женская обувь', 1)
INSERT [dbo].[Categories] ([Name], [CategoryId]) VALUES (N'Мужская обувь', 2)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
