USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23.12.2025 17:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Photo] [nvarchar](500) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Products] ([Article], [Name], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Quantity], [Description], [Photo]) VALUES (N'B320R5', N'Туфли', N'шт.', CAST(4300.00 AS Decimal(10, 2)), 1, 4, 1, 2, 6, N'Туфли Rieker женские демисезонные размер 41 цвет коричневый', N'9.jpg')
INSERT [dbo].[Products] ([Article], [Name], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Quantity], [Description], [Photo]) VALUES (N'B431R5', N'Ботинки', N'шт.', CAST(2700.00 AS Decimal(10, 2)), 2, 4, 2, 2, 5, N'Мужские кожаные ботинки/мужские ботинки', NULL)
INSERT [dbo].[Products] ([Article], [Name], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Quantity], [Description], [Photo]) VALUES (N'C436G5', N'Ботинки', N'шт.', CAST(10200.00 AS Decimal(10, 2)), 1, 5, 1, 0, 0, N'Ботинки женские ARGO размер 40', NULL)
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Manufacturers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
