USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 23.12.2025 17:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Name] [nvarchar](100) NOT NULL,
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Name], [SupplierId]) VALUES (N'Kari', 1)
INSERT [dbo].[Suppliers] ([Name], [SupplierId]) VALUES (N'Обувь для вас', 2)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
