USE [ShoeShopDb]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.12.2025 17:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NULL,
	[CustomerId] [int] NOT NULL,
	[PickupCode] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderDate], [DeliveryDate], [CustomerId], [PickupCode], [Status], [OrderId]) VALUES (CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 901, N'Завершен', 1)
INSERT [dbo].[Orders] ([OrderDate], [DeliveryDate], [CustomerId], [PickupCode], [Status], [OrderId]) VALUES (CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 2, 902, N'Завершен', 2)
INSERT [dbo].[Orders] ([OrderDate], [DeliveryDate], [CustomerId], [PickupCode], [Status], [OrderId]) VALUES (CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 3, 903, N'Завершен', 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
